@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, a {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background: #252B42;
}

.container {
  width: calc(310px + 840 * ((100vw - 320px) / (1440 - 320)));
  margin: 0 auto;
  padding: calc(5px + 35 * ((100vw - 320px) / (1440 - 320)));
}

.header {
  background: url("../img/girl.png") 0 0/100% auto no-repeat;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-logo-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: calc(14px + 10 * ((100vw - 320px) / (1440 - 320)));
  line-height: 115%;
  color: #FFFFFF;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.navbar-wrapper-item {
  margin-left: calc(10px + 10 * ((100vw - 320px) / (1440 - 320)));
}

.navbar-wrapper-item-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: calc(10px + 4 * ((100vw - 320px) / (1440 - 320)));
  line-height: 155%;
  color: #FFFFFF;
}

.navbar-wrapper-item-link-img {
  width: calc(10px + 6 * ((100vw - 320px) / (1440 - 320)));
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-top: calc(30px + 110 * ((100vw - 320px) / (1440 - 320)));
  width: calc(250px + 260 * ((100vw - 320px) / (1440 - 320)));
}

.text-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: calc(25px + 33 * ((100vw - 320px) / (1440 - 320)));
  line-height: 115%;
  color: #FFFFFF;
}

.text-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: calc(13px + 7 * ((100vw - 320px) / (1440 - 320)));
  line-height: 150%;
  color: #FFFFFF;
  width: calc(160px + 216 * ((100vw - 320px) / (1440 - 320)));
  margin-top: calc(15px + 25 * ((100vw - 320px) / (1440 - 320)));
}

.text-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-top: calc(15px + 25 * ((100vw - 320px) / (1440 - 320)));
}

.text-active-get {
  width: calc(120px + 58.5 * ((100vw - 320px) / (1440 - 320)));
  background: #FFA62B;
  text-align: center;
  border-radius: 20px;
}

.text-active-get-link {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1440 - 320)));
  line-height: 75%;
  color: #FFFFFF;
  padding: 8%;
}

.text-active-learn {
  width: calc(100px + 37.7 * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
  border: 2px #FFFFFF solid;
  border-radius: 20px;
  margin-left: 20px;
}

.text-active-learn-link {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1440 - 320)));
  line-height: 75%;
  color: #FFFFFF;
  padding: 9%;
}

.marketing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: calc(15px + 75 * ((100vw - 320px) / (1440 - 320)));
}

.marketing-item {
  width: calc(300px + 35 * ((100vw - 320px) / (1440 - 320)));
  margin: 10px;
  padding: calc(15px + 18 * ((100vw - 320px) / (1440 - 320)));
  background: #FFFFFF;
  position: relative;
}

.marketing-item-title {
  margin-top: calc(57px + 6 * ((100vw - 320px) / (1440 - 320)));
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: calc(18px + 4 * ((100vw - 320px) / (1440 - 320)));
  line-height: 120%;
  color: #000000;
}

.marketing-item-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: calc(14px + 0 * ((100vw - 320px) / (1440 - 320)));
  line-height: 120%;
  color: #000000;
  margin-top: calc(15px + 5 * ((100vw - 320px) / (1440 - 320)));
  width: 80%;
}

.marketing-item-img1 {
  position: absolute;
  top: 33;
  left: 33;
}

.marketing-item-img2 {
  position: absolute;
  top: 33;
  left: 33;
  display: none;
}

.marketing-item:hover {
  background: #00A0C1;
}

.marketing-item:hover .marketing-item-title,
.marketing-item:hover .marketing-item-text {
  color: #FFFFFF;
}

.marketing-item:hover .marketing-item-img2 {
  display: block;
}

.choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-top: calc(20px + 70 * ((100vw - 320px) / (1440 - 320)));
}

.choose-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: calc(18px + 22 * ((100vw - 320px) / (1440 - 320)));
  line-height: 120%;
  color: #FFFFFF;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.choose-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1440 - 320)));
  line-height: 140%;
  color: #FFFFFF;
  width: 55%;
  text-align: center;
  margin-top: calc(10px + 10 * ((100vw - 320px) / (1440 - 320)));
}

.choose-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: calc(20px + 30 * ((100vw - 320px) / (1440 - 320)));
}

.choose-card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: calc(200px + 50 * ((100vw - 320px) / (1440 - 320)));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  padding: calc(15px + 10 * ((100vw - 320px) / (1440 - 320)));
  margin: 10px auto;
}

.choose-card-item-img {
  width: 48px;
}

.choose-card-item-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: calc(22px + 18 * ((100vw - 320px) / (1440 - 320)));
  line-height: 120%;
  color: #000000;
  margin-top: calc(10px + 10 * ((100vw - 320px) / (1440 - 320)));
}

.choose-card-item-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: calc(14px + 2 * ((100vw - 320px) / (1440 - 320)));
  line-height: 120%;
  color: #000000;
  margin-top: calc(10px + 5 * ((100vw - 320px) / (1440 - 320)));
}

.practice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-top: calc(20px + 100 * ((100vw - 320px) / (1440 - 320)));
}

.practice-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: calc(22px + 18 * ((100vw - 320px) / (1440 - 320)));
  line-height: 120%;
  color: #FFFFFF;
}

.practice-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1440 - 320)));
  line-height: 140%;
  color: #FFFFFF;
  width: 55%;
  text-align: center;
  margin-top: calc(10px + 10 * ((100vw - 320px) / (1440 - 320)));
}

.practice-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: calc(20px + 30 * ((100vw - 320px) / (1440 - 320)));
}

.practice-options-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: calc(200px + 30 * ((100vw - 320px) / (1440 - 320)));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  margin: 10px auto;
  padding-top: calc(10px + 10 * ((100vw - 320px) / (1440 - 320)));
}

.practice-options-item-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: calc(13px + 3 * ((100vw - 320px) / (1440 - 320)));
  line-height: 140%;
  color: #000000;
  width: 70%;
}

.practice-options-item-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1440 - 320)));
  line-height: 140%;
  color: #000000;
  width: 70%;
  margin-top: calc(10px + 10 * ((100vw - 320px) / (1440 - 320)));
}

.practice-options-item-img {
  width: 100%;
  margin-top: calc(10px + 10 * ((100vw - 320px) / (1440 - 320)));
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-top: calc(20px + 100 * ((100vw - 320px) / (1440 - 320)));
}

.service-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 80%;
  margin: 0 auto;
}

.service-text-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: calc(22px + 18 * ((100vw - 320px) / (1440 - 320)));
  line-height: 120%;
  color: #FFFFFF;
  text-align: center;
  width: 75%;
}

.service-text-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1440 - 320)));
  line-height: 140%;
  color: #FFFFFF;
  text-align: center;
  width: 75%;
  margin-top: calc(10px + 15 * ((100vw - 320px) / (1440 - 320)));
}

.service-video {
  margin-top: calc(15px + 45 * ((100vw - 320px) / (1440 - 320)));
  width: calc(300px + 250 * ((100vw - 320px) / (1440 - 320)));
  height: calc(200px + 200 * ((100vw - 320px) / (1440 - 320)));
  padding: calc(20px + -20 * ((100vw - 320px) / (1440 - 320)));
}

.service-video-item {
  width: 100%;
  height: 100%;
}

.service-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: calc(280px + 120 * ((100vw - 320px) / (1440 - 320)));
  margin-top: calc(15px + 45 * ((100vw - 320px) / (1440 - 320)));
  margin-left: calc(15px + 128 * ((100vw - 320px) / (1440 - 320)));
}

.service-info-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: calc(22px + 18 * ((100vw - 320px) / (1440 - 320)));
  line-height: 120%;
  color: #FFFFFF;
}

.service-info-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1440 - 320)));
  line-height: 150%;
  color: #FFFFFF;
  margin-top: calc(10px + 10 * ((100vw - 320px) / (1440 - 320)));
  width: 90%;
}

.service-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-top: calc(10px + 20 * ((100vw - 320px) / (1440 - 320)));
}

.service-info-item-img {
  width: 32px;
  height: 32px;
}

.service-info-item-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: calc(13px + 3 * ((100vw - 320px) / (1440 - 320)));
  line-height: 150%;
  color: #FFFFFF;
  margin-left: 30px;
  width: 70%;
}

.service-info-item-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: calc(11px + 3 * ((100vw - 320px) / (1440 - 320)));
  line-height: 150%;
  color: #FFFFFF;
  margin-left: 62px;
  margin-top: calc(10px + 5 * ((100vw - 320px) / (1440 - 320)));
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: calc(20px + 80 * ((100vw - 320px) / (1440 - 320)));
}

.brand-item {
  width: 155px;
  margin: 15px;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: calc(20px + 50 * ((100vw - 320px) / (1440 - 320)));
  background: #16697A;
  padding: 25px;
}

.subscribe-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: calc(16px + 8 * ((100vw - 320px) / (1440 - 320)));
  line-height: 140%;
  color: #FFFFFF;
  width: calc(250px + 30 * ((100vw - 320px) / (1440 - 320)));
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: calc(250px + 150 * ((100vw - 320px) / (1440 - 320)));
  height: 48px;
  margin-top: 10px;
}

.subscribe-form-mail {
  width: 72%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
  background: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1440 - 320)));
  line-height: 130%;
}

.subscribe-form-send {
  width: 28%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #FFA62B;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1440 - 320)));
  line-height: 130%;
  color: #FFFFFF;
}
